/******************************************************************************/
/* ひと目でわかるMicrosoft Visual Basic 2017 データベース開発入門             */
/* サンプルデータベース作成                                                   */
/*                                                                            */
/* 作成するデータベース：project_job                                          */
/******************************************************************************/
/* サンプルテーブル作成                                                       */
/* 対象データベース：project_job                                              */
/*                                                                            */
/* システムで使用するテーブル                                                 */
/*                   tbl_customer      （顧客マスターテーブル）               */
/*                   tbl_section       （部署マスターテーブル）               */
/*                   tbl_project       （プロジェクトテーブル）               */
/*                   tbl_job           （ジョブテーブル）                     */
/*                   tbl_staff         （スタッフマスターテーブル）           */
/*                   tbl_staff_backup  （スタッフマスター バックアップ用）    */
/******************************************************************************/

/***********************************/
/* 対象データベースの指定          */
/***********************************/
use [master]
GO

/***********************************/
/* 実行者の権限チェック            */
/***********************************/
-- 変数定義
DECLARE @SRsysadmin int , @SRdbcreator int

-- 実行者が、管理者権限またはデータベースの作成者以外は実行できない
-- 現在のユーザーが sysadmin または dbcreator のメンバであるかどうかを確認する
SELECT @SRsysadmin=IS_SRVROLEMEMBER('sysadmin')
SELECT @SRdbcreator=IS_SRVROLEMEMBER( 'dbcreator' )

IF @SRsysadmin=0 AND @SRdbcreator=0
    -- いずれのメンバでもないとき
    BEGIN
        -- RAISERRORで127を指定してOSQLを強制終了する
        RAISERROR( 'データベース作成の権限がありません。処理を終了します',16,127)
        RETURN
    END
GO

/***********************************/
/* project_job データベースの作成  */
/***********************************/
-- すでに project_job データベースが存在する場合は削除する
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'project_job')
	DROP DATABASE [project_job]
GO
-- データベースの作成
CREATE DATABASE [project_job]
ALTER DATABASE [project_job] SET RECOVERY FULL;
PRINT '    project_job データベースを作成しました'
GO

/***********************************/
/* 対象データベースの指定          */
/***********************************/
use [project_job]
GO

/***********************************/
/* 既存テーブルの削除              */
/* 存在する場合には削除する        */
/***********************************/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_customer]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_customer]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_section]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_section]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_project]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_project]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_job]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_job]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_staff]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_staff]

-- バックアップ用テーブル
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_staff_backup]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_staff_backup]

/****************************************/
/* 既存のビューの削除                   */
/* 存在する場合には削除する             */
/****************************************/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vw_projectlist]'))
DROP VIEW [dbo].[vw_projectlist]
GO

/***********************************/
/* テーブルの作成                  */
/***********************************/
CREATE TABLE [dbo].[tbl_customer](
	[customer_code] [char](7) NOT NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[zipcode] [char](8) NULL,
	[address] [nvarchar](100) NULL,
	[person] [nvarchar](20) NULL,
	[tel] [varchar](20) NULL,
	[rank] [char](1) NULL,
	[input_date] [datetime] NULL,
  CONSTRAINT [PK_tbl_customer] PRIMARY KEY CLUSTERED ([customer_code] ASC)
) ON [PRIMARY]

CREATE TABLE [dbo].[tbl_section](
	[section_code] [char](4) NOT NULL,
	[section_name] [nvarchar](20) NOT NULL,
  CONSTRAINT [PK_tbl_section] PRIMARY KEY CLUSTERED ([section_code] ASC)
) ON [PRIMARY]

CREATE TABLE [dbo].[tbl_project](
	[project_code] [char](5) NOT NULL,
	[project_name] [nvarchar](50) NOT NULL,
	[customer_code] [char](7) NOT NULL,
	[staff_code] [char](6) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[complete_flag] [bit] NULL,
  CONSTRAINT [PK_tbl_project] PRIMARY KEY CLUSTERED ([project_code] ASC)
) ON [PRIMARY]

CREATE TABLE [dbo].[tbl_job](
	[project_code] [char](5) NOT NULL,
	[job_number] [int] NOT NULL,
	[job_title] [nvarchar](50) NOT NULL,
	[staff_code] [char](6) NOT NULL,
	[complete_flag] [bit] NULL,
  CONSTRAINT [PK_tbl_job] PRIMARY KEY CLUSTERED ([project_code] ASC, [job_number] ASC)
) ON [PRIMARY]

CREATE TABLE [dbo].[tbl_staff](
	[staff_code] [char](6) NOT NULL,
	[staff_name] [nvarchar](20) NOT NULL,
	[staff_kana] [nvarchar](20) NOT NULL,
	[staff_sex] [tinyint] NULL,
	[staff_section] [char](4) NULL,
	[email] [varchar](50) NULL,
	[ext_phone] [varchar](10) NULL,
	[resign_flag] [bit] NULL,
	[userID] [char](8) NULL,
	[password] [char](8) NULL,
	[memo] [nvarchar](max) NULL,
	[admin_flag] [bit] NULL,
	[input_date] [datetime] NULL,
  CONSTRAINT [PK_tbl_staff] PRIMARY KEY CLUSTERED ([staff_code] ASC)
) ON [PRIMARY]

CREATE TABLE [dbo].[tbl_staff_backup](
	[staff_code] [char](6) NOT NULL,
	[staff_name] [nvarchar](20) NOT NULL,
	[staff_kana] [nvarchar](20) NOT NULL,
	[resign_flag] [bit] NULL,
  CONSTRAINT [PK_tbl_staff_backup] PRIMARY KEY CLUSTERED ([staff_code] ASC)
) ON [PRIMARY]

PRINT ''
PRINT '    project_job データベースに 6つのテーブルを作成しました'
GO

/****************************************/
/* ビューの作成                         */
/****************************************/
CREATE VIEW [dbo].[vw_projectlist]
AS
SELECT    dbo.tbl_project.project_code, dbo.tbl_project.project_name, dbo.tbl_project.customer_code, dbo.tbl_project.staff_code, dbo.tbl_project.start_date, 
          dbo.tbl_project.end_date, dbo.tbl_project.complete_flag, dbo.tbl_customer.customer_name, dbo.tbl_staff.staff_name
FROM      dbo.tbl_project LEFT OUTER JOIN
            dbo.tbl_staff ON dbo.tbl_project.staff_code = dbo.tbl_staff.staff_code LEFT OUTER JOIN
            dbo.tbl_customer ON dbo.tbl_project.customer_code = dbo.tbl_customer.customer_code
 GO

PRINT '    project_job データベースに vw_projectlist ビューを追加しました'
GO

/***********************************/
/* サンプルデータの追加            */
/***********************************/
SET NOCOUNT ON

-- 既存データの削除（全テーブル）
DELETE FROM tbl_customer
DELETE FROM tbl_section
DELETE FROM tbl_staff
DELETE FROM tbl_project
DELETE FROM tbl_job
GO

PRINT ''
PRINT '    project_job データベースにサンプルデータを追加します。'
GO

PRINT ''
PRINT '        tbl_customer のデータを作成します。'
INSERT INTO tbl_customer (customer_code, customer_name, zipcode, address, person, tel, rank, input_date)
    VALUES('A011103', N'株式会社△□HIN', '102-00xx', N'東京都千代田区九段南XX-XX-XXX', N'橋本　XX至', '03-0000-1111', 'A', '2016/01/01 00:00:00')
INSERT INTO tbl_customer (customer_code, customer_name, zipcode, address, person, tel, rank, input_date)
    VALUES('A020407', N'◎◇ググッド株式会社', '190-00xx', N'東京都立川市錦町XX-XX-XXX', N'貫井　XX一', '0425-00-1111', 'A', '2016/06/01 00:00:00')
INSERT INTO tbl_customer (customer_code, customer_name, zipcode, address, person, tel, rank, input_date)
    VALUES('A020601', N'株式会社×○パル', '113-00xx', N'東京都文京区本郷XX-XX-XXX', N'久保山　XX聡', '03-0000-1111', 'A', '2016/08/01 00:00:00')
PRINT '        tbl_customer に 38 件のデータを追加しました。'
GO


PRINT ''
PRINT '        tbl_section のデータを作成します。'
INSERT INTO tbl_section (section_code, section_name)
    VALUES('0123', N'第一営業部')
INSERT INTO tbl_section (section_code, section_name)
    VALUES('0234', N'第二営業部')
INSERT INTO tbl_section (section_code, section_name)
    VALUES('0235', N'第三営業部')
PRINT '        tbl_section に 6 件のデータを追加しました。'
GO


PRINT ''
PRINT '        tbl_staff のデータを作成します。'
INSERT INTO tbl_staff (staff_code, staff_name, staff_kana, staff_sex, staff_section, email, ext_phone, resign_flag, userID, [password], memo, admin_flag, input_date)
    VALUES('011223', N'古賀', N'コガ', 1, '0123', 'koga@vbnet.xx.jp', '9999', 0, 'koga', 'a0022', Null, 1, '2017/06/01 00:00:00')
INSERT INTO tbl_staff (staff_code, staff_name, staff_kana, staff_sex, staff_section, email, ext_phone, resign_flag, userID, [password], memo, admin_flag, input_date)
    VALUES('012468', N'木島', N'キジマ', 2, '0234', 'kijima@vbnet.xx.jp', '2468', 0, 'kijima', 'b2468', Null, 0, '2017/06/01 00:00:00')
INSERT INTO tbl_staff (staff_code, staff_name, staff_kana, staff_sex, staff_section, email, ext_phone, resign_flag, userID, [password], memo, admin_flag, input_date)
    VALUES('014429', N'中川', N'ナカガワ', 2, '0345', 'nakagawa@vbnet.xx.jp', '4429', 0, 'nakagawa', 'c4429', Null, 0, '2017/06/01 00:00:00')
PRINT '        tbl_staff に 16 件のデータを追加しました。'
GO


PRINT ''
PRINT '        tbl_project のデータを作成します。'
INSERT INTO tbl_project (project_code, project_name, customer_code, staff_code, start_date, end_date, complete_flag)
    VALUES('A0001', N'企画プロジェクトＡ0001', 'B010424', '011223', '2017/09/01 00:00:00', '2018/01/01 00:00:00', 0)
INSERT INTO tbl_project (project_code, project_name, customer_code, staff_code, start_date, end_date, complete_flag)
    VALUES('A0002', N'企画プロジェクトＢ0002', 'C010809', '011223', '2018/02/01 00:00:00', '2018/07/30 00:00:00', 0)
INSERT INTO tbl_project (project_code, project_name, customer_code, staff_code, start_date, end_date, complete_flag)
    VALUES('A0003', N'企画プロジェクトＡ0003', 'A030520', '022927', '2016/06/05 00:00:00', '2016/10/02 00:00:00', 1)
PRINT '        tbl_project に 170 件のデータを追加しました。'
GO


PRINT ''
PRINT '        tbl_job のデータを作成します。'
INSERT INTO tbl_job (project_code, job_number, job_title, staff_code, complete_flag)
    VALUES('A0001', 1, N'企画プロジェクトＡ0001の開始作業', '011223', 1)
INSERT INTO tbl_job (project_code, job_number, job_title, staff_code, complete_flag)
    VALUES('A0001', 2, N'PRJA0001-JOB-2', '011223', 1)
INSERT INTO tbl_job (project_code, job_number, job_title, staff_code, complete_flag)
    VALUES('A0001', 3, N'PRJA0001-JOB-3', '011223', 1)
PRINT '        tbl_job に 504 件のデータを追加しました。'
GO
